@page
@using Srv.Domain.Entities
@model Kozyk.UI.Areas.Admin.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
    var request = ViewContext.HttpContext.Request;
    var returnUrl = request.Path + request.QueryString.ToUriComponent();
    var categories = ViewData["categories"] as IEnumerable<Category>;



    string? category = request.Query["category"].ToString();
    int prev = Model.CurrentPage == 1
    ? 1
    : Model.CurrentPage - 1;
    int next = Model.CurrentPage == Model.TotalPages
    ? Model.TotalPages
    : Model.CurrentPage + 1;


}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Serving[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serving[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serving[0].Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serving[0].Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Serving) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                    <img src="@item.Image" alt="NoImage" width="50" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.GroupName)
            </td>
            <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-success">
                        <i class="fa-solid fa-pen-to-square"></i> Edit
                    </a>
                    <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-info ms-1 me-1">
                        <i class="fa-solid fa-info"></i> Details
                    </a>
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger">
                        <i class="fa-regular fa-trash-can"></i> Delete
                    </a>
            </td>
        </tr>
}
    </tbody>
</table>

<!-- Pager -->
<div class="row">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item @(prev==Model.CurrentPage ? "disabled":"")">

                <a class="page-link "
                   asp-controller="Admin"
                   asp-action="Index"
                   asp-route-pageno="@prev"
                   asp-route-category="@category" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item
            @(i==Model.CurrentPage?"active":"")">
                    <a class="page-link"
                       asp-controller="Admin"
                       asp-action="Index"
                       asp-route-pageno="@i"
                       asp-route-category="@category">
                        @i
                    </a>
                </li>
            }
            <li class="page-item @(next==Model.CurrentPage ?"disabled":"")">
                <a class="page-link"
                   asp-action="Index"
                   asp-route-pageno="@next"
                   asp-route-category="@category" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div> <!-- Pager -->
